<header>
    <div id="title">
        <a href="/">
            <h1>LisToHome</h1>
        </a>
    </div>

    <ul>

        <li><a href="/">Listas </a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/login" id="login-btn">Entrar</a></li>

    </ul>
</header>

<hr>